<h2>Create Course Form Page</h2>

<form id="createCourseFrom" method="post" class="mt-5 mb-5">
    <div class="form-group">
        <label for="nameCourse">Name Course</label>
        <input type="text" class="form-control" id="nameCourse" name="name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Create Course</button>
</form>